:root {
  --dark-text: #000;
  --link-hover: #9e9696;
  --light-text: #fff;
  --overlay-bg: #000;
}

.link {
  color: var(--dark-text);
  font-size: 18px;
  text-decoration-skip-ink: none;
  text-underline-position: under;
  transition: color .3s ease-in;
}

.opacity-link {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.opacity-link:hover {
  opacity: .8;
}

.link:hover {
  color: var(--link-hover);
}

.link--active {
  text-decoration: none;
}

.section-heading {
  color: var(--dark-text);
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 238px;
  font-style: normal;
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  gap: 44px;
  padding: 94px 51px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  gap: 33px;
  list-style: circle;
}

.header__logo {
  display: block;
  width: 132px;
}

.header__contacts-list {
  margin-left: auto;
}

.nav-item__no-bullit {
  list-style-type: none;
}

.contacts-list__address {
  color: var(--dark-text);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
}

.cover {
  padding: 0 50px;
  padding-top: 163px;
  padding-bottom: 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: relative;
}

.overlay::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: var(--overlay-bg);
}

.cover__content {
  position: relative;
  z-index: 1;
}

.cover__title {
  color: var(--light-text);
  font-size: 100px;
  letter-spacing: .45em;
  text-transform: uppercase;
}

.span-accent {
  display: block;
  letter-spacing: 0.03em;
}

.letter-spacing-xl {
  letter-spacing: .6em;
}

.text-center {
  padding-top: 10px;
  letter-spacing: -.3em;
  text-align: center;
}

.text-center__letter-spacing-sm {
  letter-spacing: .31em;
}

.text-right {
  padding-top: 3px;
  letter-spacing: -.4em;
  text-align: right;
}

.text-right__letter-spacing-xl {
  letter-spacing: .29em;
}

.letter-spacing-sm {
  letter-spacing: .01em;
}

.cover__bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 128px;
  padding-left: 28px;
}

.cover__subtitle {
  color: var(--light-text);
  font-size: 22px;
  line-height: .28em;
  text-transform: uppercase;
  word-spacing: 0.84em;
}

.cover__btn {
  border: 1px solid var(--light-text);
  padding: 12px 32px;
  color: var(--light-text);
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 24px;
  padding-top: 177px;
}

.lots__card-link {
  text-decoration: none;
}

.lots__heading {
  padding-left: 40px;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-title {
  position: relative;
  z-index: 1;
  color: var(--light-text);
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-underline-position: under;
  text-transform: uppercase;
}

.lots__card-text {
  position: relative;
  z-index: 1;
  color: var(--light-text);
  font-size: 20px;
}

.lots__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 334px;
  height: 100%;
  padding: 51px 40px 48px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.lots__card-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.card-tom-anderson {
  background-image: url(../images/card-lot-01.jpg);
}

.card-book-agent {
  background-image: url(../images/card-lot-02.jpg);
}

.card-kandinsky {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__link {
  display: inline-block;
  padding-left: 40px;
  font-size: 20px;
  text-underline-position: unset;
}

.about {
  display: grid;
  grid-template-columns: 380px auto;
  justify-items: center;
  padding-top: 149px;
}

.about__col-logo {
  padding-top: 33px;
}

.about__col-text-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 132px;
  padding-left: 4px;
}

.about__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: var(--dark-text);
}

.about__heading {
  display: flex;
  align-items: center;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 48px;
  font-size: 20px;
  line-height: 1.21em;
}

.about__logo-img {
  width: 148px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 88px;
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__nav-list, .footer__social-list {
  list-style: none;
}

.footer__nav-list {
  text-align: center;
}

.footer__nav-link {
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-link {
  display: inline-block;
  width: 48px;
}